body {
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
    font-family: Sans-Serif;
}

a {
    color: rgb(64, 64, 196);
}

.flex {
    display: flex;
}

.l-error {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 20em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-navigation {
    display: flex;
}

.l-navigation > div {
    padding: 1em;
    cursor: pointer;
}

.card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 1px 1px rgb(196, 196, 196);
    border-radius: 3px;
}

@media screen and (min-width: 40em) {
  .l-2-column {
    display: flex;
    width: 100%;
  }

  .l-2-column > div {
    width: 50%;
  }
}

/* THEME */

.error {
  border: 2px solid rgb(196, 0, 0);
  border-radius: 5px;
  background: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
}
