body {
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Sans-Serif;
    font-size: 16px;
}

a {
    color: rgb(64, 64, 196);
}

.flex {
    display: flex;
}

.l-error {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 20em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 40em) {
  .l-2-column {
    display: flex;
    width: 100%;
  }

  .l-2-column > div {
    width: 50%;
  }

  .l-4-column {
    display: flex;
    width: 100%;
  }

  .l-4-column > div {
    width: 25%;
  }

  .l-main {
    display: flex;
    width: 100%;
  }

  .l-main > .l-sidebar {
    width: 30%;
  }

  .l-main > .l-center {
    width: 70%;
  }
}

/* THEME */
.error {
  border: 2px solid rgb(196, 0, 0);
  border-radius: 5px;
  background: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
}

.header {
    background-color: white;
    color: rgb(0, 128, 0);
}

.header > .logo {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    padding-left: 1em;
    padding-top: 1em;
}

.navigation > div > a {
    color: rgb(0, 128, 0);
    font-size: x-large;
}

.navigation > div.current {
  border-bottom: 3px solid rgb(0, 128, 0);
}

.card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 1px 1px rgb(0, 32, 0);
    border-radius: 3px;
}

.card .title {
    color: rgb(0, 128, 0);
    font-weight: bold;
}
