.date-field > .calendar {
  margin: 1em;
}

.date-field > .date {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 5px;
  font-size: inherit;
  line-height: 27px;
}

.date-field img {
  padding: 5px;
}

.date-field > .invisible {
  display: none;
}
