// Layout Rules
.center-panel > l-side {
    width: 0%;
}

.center-panel > l-center {
    width: 100%;
}

@media screen and (min-width: 40em) {
    .center-panel {
        display: flex;
    }

    .center-panel > .l-side {
        width: 15%;
    }

  .center-panel > .l-center{
    width: 70%;
  }
}
