.daily-entry {
  margin-bottom: 2em;
}

.activity-header {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.record {
  margin: 0.25em;
  line-height: 43px;
}

.day-summary {
  display: flex;
}

.day-summary > div {
  width: 50%;
}

.placeholder {
  color: gray;
}

.weight .view, .steps .view {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.weight input, .steps input {
  width: 5em;
  font-size: inherit;
}

.add-workout {
  padding: 10px;
  max-width: 250px;
}
